# Database Configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=myproject_db
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

# Django Secret Key
SECRET_KEY=django-insecure-beu(#!)(no(ho6gl)zlvr%edi$terqk5i^9i^^e4=4@pr-x#4)

# Debug Mode (set to False in production)
DEBUG=True
